/* -- Fonts Start -- */

/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.maven{
  font-family: 'Maven Pro', sans-serif;
}

/* Web Safe Fonts */

.arial{
    font-family: Arial, sans-serif;
  }
  
  .verdana{
    font-family: Verdana, sans-serif;
  }
  
  .helvetica{
    font-family: Helvetica, sans-serif;
  }
  
  .tahoma{
    font-family: Tahoma, sans-serif;
  }
  
  .trebuchet{
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  .times{
    font-family: 'Times New Roman', serif;
  }
  
  .georgia{
    font-family: Georgia, serif;
  }
  
  .garamond{
    font-family: Garamond, serif;
  }
  
  .courier{
    font-family: 'Courier New', monospace;
  }
  
  .brush{
    font-family: 'Brush Script MT', cursive;
  }
  
  /* -- Fonts End -- */

.logo{
    width: 100%;
}

#cantidadItemsEnCarrito{
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: #f44336;
    border-radius: 50%;
    text-align: left;
    padding: 0.1rem 0.5rem !important;
}

@media (min-width:768px){

    .logo{
        width: 25%;
    }

}